.bottom {
  background-color: var(--celeste); /* azul claro */
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-raleway);
  letter-spacing: 4px;
}


.bottom:hover {
  background-color: #0099cc; /* tono más oscuro al pasar el mouse */
}
